body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6464;
    color: white;
    padding: 1rem 0;
}


#court-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Set a maximum width for larger screens */
    margin: 0 auto; /* Center the container horizontally */
    aspect-ratio: 2 / 1; /* Maintain a 2:1 aspect ratio */
    background-color: white;
    border: 2px solid rgb(216, 216, 216);
    overflow: hidden; /* Prevent draggable elements from overflowing */
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-wrapper {
    position: relative;
    width: 90%; /* Make the rectangle responsive */
    height: 90%; /* Maintain the size within the container */
    border: 2px solid black; /* Add a border to the rectangle */
    box-sizing: border-box;
}

.draggable {
    position: absolute;
    z-index: 10;
    width: 5%; /* Set width relative to container */
    height: 5%; /* Set height relative to container */
    cursor: move;
}

.draggable svg {
    width: 100%;
    height: 100%;
}

.draggable.cone {
    background-color: orange; /* Set color for cone */
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: white;
    border-radius: 50%; /* Make cone circular */
    border: 2px solid black;
}

